<%= provide :main_menu do %>
	<header class="p-3 bg-info text-white">
    <div class="container">
      <nav class="d-flex flex-wrap aling-items-center justify-content-content justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-content mb-md-0">
          <li><%= link_to 'Menu', root_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Categories', categories_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Dishes', dishes_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Day menu', day_menus_path, class: 'nav-link px-2 text-white' %></li>
        </ul>
        <ul class="nav col-12 col-lg-auto  d-flex justify-content-end justify-content-content mb-md-0">
          <li class="dropdown">
            <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white',
              data: {"bs-toggle": 'dropdown'} do %>
              <%= tag.div '', class: "flag #{I18n.locale}-flag" %>
              <%= t I18n.locale %>
            <% end %>
            
            <ul class="dropdown-menu">
              <% I18n.available_locales.each do |locale| %>
                <li>
                  <% if I18n.locale == locale %>
                    <%= tag.span t(locale), class: 'dropdown-item' %>
                  <% else %>
                    <%= link_to t(locale), root_path(locale: locale),
                      class: 'dropdown-item' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav col-12 col-lg-auto  d-flex justify-content-end justify-content-content mb-md-0">
          <% if admin_signed_in? %>
          <li class="dropdown">
            <%= nav_tab current_admin_decorator.name_or_email, '#', class: 'nav-link px-2 dropdown-toggle', data: {"bs-toggle": 'dropdown'} %>
            <ul class="dropdown-menu"> 
              <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul> 
          </li>
          <% else %>
           <li><%= link_to 'Log In', new_admin_session_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Sing Up', new_admin_registration_path, class: 'nav-link px-2 text-white' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<% end %>